- if @users.any?
	%table(cellspacing="0")
		%thead
			%tr.odd
				%th ID
				%th Username
				%th Phones
				%th Numbers
				%th Voicemails
		%tbody
			- @row_count = 0
			- @users.each do |user|
				%tr{:class => (@row_count % 2 == 0) ? "even" : "odd"}
					- @row_count += 1
					%td
						!= user.id
					%td
						!= link_to user.username, "/admin/users/#{user.id}"
					%td
						!= link_to user.phones.size, "/admin/users/#{user.id}/phones"
					%td
						!= link_to user.numbers.size, "/admin/users/#{user.id}/numbers"
					%td
						!= link_to user.voicemails.size, "/admin/users/#{user.id}/voicemails"