!!!
%html{:lang => "en"}
	%head
		%title= [@title, "Bell - A CRC Application"].compact.join(" - ")
		%meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
		%link{:rel => "stylesheet", :href => "/css/reset.css", :type => "text/css"}
		-#%link{:rel => "stylesheet", :href => "/css/main.css", :type => "text/css"}
		%link{:rel => "stylesheet", :href => "/css/stylesheet.css", :type => "text/css"}

	%body(class="#{logged_in? ? "logged_in" : nil}")
		#example
			%header#ex_header
				%h1 Bell Phone App
			%nav#ex_navbar		
				%ul
					- if logged_in?
						%li
							Logged in as #{current_user}
						%li
							%a(href="/") Home
						%li
							%a(href="/logout") Logout
					- else
						%li
							%a(href="/") Home
						%li
							%a(href="/signup") Sign Up
						%li
							%a(href="/login") Login
			%section#ex_middle
				%aside#ex_sidebar
					%ul
						%li
							%a(href="/phones") Phones
						%li
							%a(href="/numbers") Numbers
						%li
							%a(href="/voicemails") Voicemails
						%li
							%a(href="/history") Call History
						- if logged_in? && current_user.admin?
							%br
							%h3 Admin Menu
							%ul
								%li
									%a(href="/admin/users") Users
								%li
									%a(href="/admin/phones") Phones
								%li
									%a(href="/admin/numbers") Numbers
								%li
									%a(href="/admin/voicemails") Voicemails
				%article#ex_main
					- if session[:notice]
						.notices
							= session.delete(:notice)
					- if session[:error]
						.errors
							= session.delete(:error)
					!= yield
					.clear
				%footer#ex_footer
					This is the bell phone app.
